{% extends 'wrapper.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<body>
<!-- Header -->
{% include 'header.html' %}


<!--================ End Header Menu Area =================-->

<main class="site-main">

    <!--================ Hero banner start =================-->
    <section class="hero-banner">
        <div class="container">
            <div class="row no-gutters align-items-center pt-60px">
                <div class="col-5 d-none d-sm-block">
                    <div class="hero-banner__img">
                        <img class="img-fluid" src="{% static 'img/wwww1.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                    <div class="hero-banner__content">
                       <h4>{% trans 'Покупки поднимают настроение' %}</h4>
                       <h1><i>All-Made </i>{% trans 'магазин сувениров №1' %}</h1>
                        <p>{% trans 'Обрадуйте своих родных и близких, купите сувениры на память про Узбекистан, лучшие сувениры в Республике' %}</p>
                        <a class="button button-hero" href="{% url 'mainapp:catalog' %}">{% trans 'Купить сейчас' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ Hero banner start =================-->

    <!--================ Hero Carousel start =================-->
    <section class="section-margin mt-0">
        <div class="owl-carousel owl-theme hero-carousel">
            <div class="hero-carousel__slide">
                <img src="{% static 'img/www1.jpg'%}" alt="" class="img-fluid">
                <a href="{% url 'mainapp:catalog'%}" class="hero-carousel__slideOverlay">
                    <h3>{% trans 'Лучшие сувеныры' %}</h3>
                    <p>{% trans 'Посмотреть все' %}</p>
                </a>
            </div>
            <div class="hero-carousel__slide">
                <img src="{% static 'img/www2.jpg'%}" alt="" class="img-fluid">
                <a href="{% url 'mainapp:catalog'%}" class="hero-carousel__slideOverlay">
                    <h3>{% trans 'Изделия ручной работы' %}</h3>
                    <p>{% trans 'Посмотреть все' %}</p>
                </a>
            </div>
            <div class="hero-carousel__slide">
                <img src="{% static 'img/www3.jpg'%}" alt="" class="img-fluid">
                <a href="{% url 'mainapp:catalog'%}" class="hero-carousel__slideOverlay">
                    <h3>{% trans 'Оптимальная цена для всех' %}</h3>
                    <p>{% trans 'Посмотреть все' %}</p>
                </a>
            </div>
        </div>
    </section>
    <!--================ Hero Carousel end =================-->

    <!-- ================ trending product section start ================= -->
    <section class="section-margin calc-60px">
        <div class="container">
            <div class="section-intro pb-60px">
                <p>{% trans 'Давайте взгляним' %}</p>
                <h2>{% trans 'Новинки' %} <span class="section-intro__style">{% trans 'Продажи' %}</span></h2>
            </div>
            <div class="row">
                {% for product_info in product_information%}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="{{ product_info.img.url }}" alt="">
                            <ul class="card-product__imgOverlay">
                                <li>
                                    <form action="{% url 'cart:cart_add_2' product_info.id %}" method="post">
                                        <input  type="hidden" name="quantity" id="sst" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                        {% csrf_token %}
                                        <button type="submit"><i class="ti-shopping-cart"></i></button>
                                    </form>
                                </li>
                                <li>
                                    <form action="{% url 'cart:cart_add' product_info.id %}" method="post">
                                        <input type="hidden" name="quantity" id="sst" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                        {% csrf_token %}
                                    <button><i class="ti-heart"></i></button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <p>{{product_info.category.name}}</p>
                            <h4 class="card-product__title"><a href="{% url 'mainapp:single_product' product_info.category.slug product_info.pk %}">{{product_info.name}}</a></h4>
                            {% if product_info.discount %}
                            <p class="card-product__price">$ {{product_info.discount_price}}</p>
                            {% else %}
                            <p class="card-product__price">$ {{product_info.price}}</p>
                            {% endif %}

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <!-- ================ Best Selling item  carousel ================= -->
    <section class="section-margin calc-60px">
        <div class="container">
            <div class="section-intro pb-60px">
                <p>{% trans 'Товары со скидкой' %}</p>
                <h2>{% trans 'Успейте' %} <span class="section-intro__style">{% trans 'Купить' %}</span></h2>
            </div>
            <div class="owl-carousel owl-theme" id="bestSellerCarousel">
                {% for discount_info in discount_product_information%}
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="img-fluid" src="{{ discount_info.img.url }}" alt="">
                        <ul class="card-product__imgOverlay">
                            <li>
                                    <form action="{% url 'cart:cart_add_2' discount_info.id %}" method="post">
                                        <input type="hidden" name="quantity" id="sst" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                        {% csrf_token %}
                                        <button type="submit"><i class="ti-shopping-cart"></i></button>
                                    </form>
                            </li>
                            <li>
                                    <form action="{% url 'cart:cart_add' discount_info.id %}" method="post">
                                        <input type="hidden" name="quantity" id="sst" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                        {% csrf_token %}
                                    <button><i class="ti-heart"></i></button>
                                    </form>
                                </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>{{discount_info.category}}</p>
                        <h4 class="card-product__title"><a href="{% url 'mainapp:single_product' discount_info.category.slug discount_info.pk %}">{{discount_info.name}}</a></h4>
                        <p class="card-product__price wert_price">$ {{discount_info.price}}</p>
                        <p class="card-product__price">$ {{discount_info.discount_price}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ================ Best Selling item  carousel end ================= -->

    <!-- ================ Subscribe section start ================= -->
    <section class="subscribe-position">
        <div class="container">
            <div class="subscribe text-center">
                <h3 class="subscribe__title">{% trans 'Оставьте свой номер!' %}</h3>
                <p>{% trans 'Мы позвоним и проконсультируем вас' %}</p>
                <div>
                    <form action="{% url 'mainapp:call_msg' %}" method="post" class="subscribe-form form-inline mt-5 pt-1">
                        {% csrf_token %}
                        <div class="form-group ml-sm-auto">
                            <input class="form-control mb-1" type="tel" name="phone" placeholder="{% trans 'Номер телефона' %}" required>
                        </div>
                        <button class="button button-subscribe mr-auto mb-1" type="submit">{% trans 'Отправить' %}</button>
                    </form>
                </div>

            </div>
        </div>
    </section>


</main>

<!-- Footer -->
{% include 'footer.html' %}
<!--================ End footer Area  =================-->


</body>

{%endblock%}

